# tuples:
## **tuples are enclosed in ()**
## **updations are not possible in tuples**
## **difference betn lists and tuples**
- lists->[],tuples->()  
- lists->modify,add or delete the list(mutable),tuples->no modifications(immutable)
- tuples are only used for accessing the data

In [7]:
t1='aunty','uncle',45,49,'son',1,2,3
print(type(t1))

<class 'tuple'>

In [9]:
t1[0::3]

('aunty', 49, 2)

# Dictionaries:
## data will be enclosed in ()
## The data will be in the form of key value pairs
## Each key is seperated with its value by a colon(:)
## Each key value pair is seperated by a comma
## keys are unique

In [19]:
d1={1:"gitam",2:"hyd",1:"abc"}
print(d1)
type(d1)

{1: 'abc', 2: 'hyd'}

dict

In [20]:
d2={"name":"gitam","email":"gitam@123","address":"hyderabad"}
d2["name"]

'gitam'

In [21]:
d2

{'name': 'gitam', 'email': 'gitam@123', 'address': 'hyderabad'}

In [22]:
d2["course"]="python"
d2

{'name': 'gitam',
 'email': 'gitam@123',
 'address': 'hyderabad',
 'course': 'python'}

In [23]:
del d2["course"]

In [24]:
d2

{'name': 'gitam', 'email': 'gitam@123', 'address': 'hyderabad'}

In [26]:
d2.keys()

dict_keys(['name', 'email', 'address'])

In [27]:
d2.values()

dict_values(['gitam', 'gitam@123', 'hyderabad'])

In [29]:
a={1:2,3:4,5:6}
a.pop(3)
a

{1: 2, 5: 6}